body {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 auto;
}

body {
    width: 80%;
}

h1 {
    font-size: 3em;
    text-align: center;
}

p {
    font-size: 1.4em;
}


div img {
    width: 20%;
}

.displayed-img {
    width: 100%;
}

#effect-bar{
    text-align: center;
}

@media screen and (min-width:640px) {

    body {
        width: 640px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}